language: python
sudo: true
install:
    - pip install pep8
    - cd backend && pip install -r requirements.txt && cd ..
    - cd sniffer && pip install -r requirements.txt && cd ..
    - nvm install 6.3
    - nvm use 6.3
    - npm install jshint
    - cd client && npm install && cd ..
    - cd realtime && npm install && cd ..
    - gem install mdl
services:
    - mysql
script:
    - make all
after_success:
    - coveralls
